@import "@sass/darkTheme/variables.scss";
@import "@sass/lightTheme/variables.scss";

.events {
  &__competition-groupStageParametrs {
    width: 250px;
  }
  &__competition-TimeParametrs {
    width: 215px;
  }
  &__competition-criteria {
    &__row {
      margin-bottom: 20px;
    }
    &__deleteButton {
      margin-left: 20px;
    }
    &__item {
      flex: 1;
      margin-right: 8;
    }
    &__div {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__max-points {
      margin-right: 0;
      text-align: right;
    }
    &__score-count {
      width: 100%;
      text-align: right;
      display: block;
    }
    &__input {
      width: 100%;
    }
    &__addButton {
      margin-top: 10px;
    }
    &__space {
      width: 100%;
      margin-bottom: 30px;

      @media (max-width: 575px) {
        margin-bottom: 0;
      }
    }
    &__inputPoints {
      width: 100%;
    }
  }
  &__competition-reglament {
    &__text {
      font-size: 16px;
    }

    &__container {
      width: 100%;
    }

    &__input {
      margin-top: 8px;
      width: 100%;
    }
  }
  &__competition-judge {
    &__text {
      font-size: 16px;
    }
    &__input {
      width: 40px;
      margin-top: 10px;
    }
    &__name {
      width: 100%;
    }

    &__container {
      width: 100%;
    }

    &__select {
      width: 100%;
      margin-top: 10px;
    }
  }
  &__competition-type {
    &__div {
      margin-top: 30px;
    }
    &__space {
      width: 100%;
    }
    &__name {
      width: 100%;
      margin-top: 10px;
    }
    &__text {
      font-size: 16px;
    }
  }
  &__compitation-name {
    &__space {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    &__image {
      width: 38px;
      height: 32px;
      border: none;
    }
    &__input {
      width: 100%;
      margin-top: 8px;
    }
    &__example {
      margin-top: 0px;
    }
    &__div {
      margin-top: 10px;
    }
    &__autocomplete {
      width: 100%;
    }
    &__text {
      font-size: 16px;
    }
    &__example {
      margin-top: 10px;
    }
  }
  &__event-date {
    &__datepicker {
      width: 90%;
      float: right;
    }
    &__datepickercontainer {
      margin-top: 0;

      &:nth-child(even) {
        margin-top: 15px;
      }
    }
  }
  &__event-description {
    &__textarea {
      width: 100%;
    }
  }
  &__event-email {
    &__input {
      width: 100%;
    }
  }
  &__event-name {
    &__input {
      width: 100%;
    }
  }
  &__event-place {
    &__input {
      width: 100%;
    }
  }
  &__event-registration-switch {
    &__switch {
      width: 20px;
      margin-left: 2%;
    }
  }
  &__event-level {
    &__icon {
      width: 40px;
    }
    &__div {
      display: flex;
    }
  }
  &__participantModal {
    &__printButton {
      margin-top: 20px;
    }
  }
  &__participantModal__downloadButton {
    &__downloadButton {
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  &__competitionModal__play-off__slider {
    width: 200px;
    margin-right: 50px;
  }
  &__competitionModal__play-off__cancelButton {
    margin-top: 20px;
    margin-left: 20px;
  }
  &__competitionModal__play-off__OkButton {
    margin-top: 20px;
  }
  &__existing-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 11px;
    padding-bottom: 4px;
  }
}
.event-photo-gallery {
  padding: 20px;
}
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}
.photo-item {
  cursor: pointer;
}
.photo-item img {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.upload_photo_to_gallery {
  transition: 0.7s;
  aspect-ratio: 1/1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  border: 1px dashed $disabled-color;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
}
.upload_photo_to_gallery:hover {
  border-color: $dark-blue;
}
.photo-item {
  position: relative;
  display: inline-block;
}

.photo-overlay img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.photo-item:hover .photo-overlay img {
  opacity: 0.7;
}

.photo-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.photo-item:hover .photo-actions {
  opacity: 1;
}

.icon {
  transition: 0.5s;
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: $white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.icon.delete {
  color: $white;
}

.icon:hover {
  color: $dark-gray;
}
