.events {
  &__competition-groupStageParametrs {
    width: 250px;
  }
  &__competition-TimeParametrs {
    width: 250px;
  }
  &__competition-criteria {
    &__row {
      margin-bottom: 20px;
    }
    &__deleteButton {
      margin-left: 20px;
    }
    &__item {
      flex: 1;
      margin-right: 8;
    }
    &__div {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__maxPoints {
      margin-left: 210px;
    }
    &__score-count {
      margin-left: 330px;
    }
    &__input {
      margin-bottom: 50px;
      width: 300px;
    }
    &__addButton {
      margin-top: 10px;
    }
    &__space {
      margin-bottom: 30px;
    }
    &__inputPoints {
      width: 100px;
      margin-left: 20px;
    }
  }
  &__competition-reglament {
    &__text {
      font-size: 16px;
    }
    &__input {
      margin-top: 8px;
      width: 505px;
    }
  }
  &__competition-judge {
    &__text {
      font-size: 16px;
    }
    &__input {
      width: 40px;
      margin-top: 10px;
    }
    &__name {
      width: 500px;
    }
    &__select {
      width: 465px;
      margin-top: 10px;
    }
  }
  &__competition-type {
    &__div {
      margin-top: 30px;
    }
    &__space {
      width: 100%;
    }
    &__name {
      width: 505px;
      margin-top: 10px;
    }
    &__text {
      font-size: 16px;
    }
  }
  &__compitation-name {
    &__space {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    &__image {
      width: 38px;
      height: 32px;
      border: none;
    }
    &__input {
      width: 505px;
      margin-top: 8px;
    }
    &__example {
      margin-top: 0px;
    }
    &__div {
      margin-top: 10px;
    }
    &__autocomplete {
      width: 100%;
    }
    &__text {
      font-size: 16px;
    }
    &__example {
      margin-top: 10px;
    }
  }
  &__event-date {
    &__datepicker {
      width: 90%;
      float: right;
    }
    &__datepickercontainer {
      margin-top: 0;

      &:nth-child(even) {
        margin-top: 15px;
      }
    }
  }
  &__event-description {
    &__textarea {
      width: 100%;
    }
  }
  &__event-email {
    &__input {
      width: 100%;
    }
  }
  &__event-name {
    &__input {
      width: 100%;
    }
  }
  &__event-place {
    &__input {
      width: 100%;
    }
  }
  &__event-registration-switch {
    &__switch {
      width: 20px;
      margin-left: 2%;
    }
  }
  &__event-level {
    &__icon {
      width: 40px;
    }
    &__div {
      display: flex;
    }
  }
  &__participantModal {
    &__printButton {
      margin-top: 20px;
    }
  }
  &__participantModal__downloadButton {
    &__downloadButton {
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  &__competitionModal__play-off__slider {
    width: 200px;
    margin-right: 50px;
  }
  &__competitionModal__play-off__cancelButton {
    margin-top: 20px;
    margin-left: 20px;
  }
  &__competitionModal__play-off__OkButton {
    margin-top: 20px;
  }
}
