.filter-search-panel {
  background-color: #7ea7f9;
  border: 0;

  &__filters {
    &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 4px;
    }

    &__checkbox-group {
      flex-direction: column;
      gap: 8px;
      font-size: 10px;
    }
  }

  &__buttons {
    & > button {
      width: 50%;
    }
  }
}

.dark-theme .filter-search-panel {
  background-color: #292929 !important;
  border: 0.5px solid #fff !important;
}
