@import "@src/sass/darkTheme/variables.scss";
@import "@src/sass/lightTheme/variables.scss";

.filter-search-panel {
  background-color: $light-blue;
  border: 0;

  &__filters {
    &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 4px;
    }

    &__checkbox-group {
      flex-direction: column;
      gap: 8px;
      font-size: 10px;
    }
  }

  &__buttons {
    & > button {
      width: 50%;
    }
  }
}

.dark-theme .filter-search-panel {
  background-color: $darkest-gray !important;
  border: 0.5px solid #fff !important;
}
