.first-auth {
  &__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }

  &__text {
    text-align: center;
  }
}
