@import "@/sass/darkTheme/variables.scss";
@import "@/sass/lightTheme/variables.scss";

.events {
  &__event-information {
    &__flex-container {
      margin-top: 16px;
    }

    &__rows-margin {
      margin-top: 16px;
    }

    &__ya-share {
      text-align: right;
      margin-top: 5px;
    }

    &__align-right {
      text-align: right;

      @media (max-width: 767px) {
        text-align: left;
        margin-top: 10px;
      }
    }

    &__text {
      max-width: 100%;
      text-wrap: wrap;
      word-wrap: break-word;
    }

    &__img {
      width: 95%;
      aspect-ratio: 3/2;
      object-fit: contain;
      border-radius: 14px;

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &__noImg {
      width: 95%;
      aspect-ratio: 3/2;
      object-fit: cover;
      border-radius: 14px;
    }

    &__title {
      margin-left: 0;
      margin-top: 0;
    }

    &__regulation {
      margin-top: 24px;
    }
  }
}

.ant-typography p {
  margin: 0;
}
