.password-change {
  &__new-password {
    &__flex {
      margin-bottom: 24px;
    }
    &__formitem {
      margin-bottom: 0px;
    }
  }
  &__old-password {
    &__flex {
      margin-bottom: 24px;
    }
    &__formitem {
      margin-bottom: 0px;
    }
  }
  &__second-new-password {
    &__flex {
      margin-bottom: 24px;
    }
    &__formitem {
      margin-bottom: 0px;
    }
  }
}
