@import "@src/sass/darkTheme/variables.scss";
@import "@src/sass/lightTheme/variables.scss";

.quill {
  & .ql-snow .ql-tooltip::before,
  & .ql-snow .ql-tooltip[data-mode="link"]::before {
    display: none;
  }

  & .ql-snow .ql-tooltip.ql-flip,
  & .ql-snow .ql-tooltip.ql-editing {
    transform: translate(150px, -16px);
  }

  & .ql-toolbar.ql-snow {
    border: 1px solid $light-gray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  & .ql-container.ql-snow {
    border: 1px solid $light-gray;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.dark-theme .quill {
  & .ql-container.ql-snow,
  & .ql-toolbar.ql-snow {
    border: none;
    background-color: $dark-gray;
  }

  & .ql-snow .ql-stroke {
    stroke: $light-gray;
  }

  & .ql-editor p {
    color: $white;
  }

  & .ql-editor.ql-blank::before {
    color: $disabled-color;
  }
}
