@keyframes ldio-92g1bd69czv {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-92g1bd69czv div {
  box-sizing: border-box !important;
}
.ldio-92g1bd69czv > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #007aff transparent #007aff transparent;
  animation: ldio-92g1bd69czv 1s linear infinite;
}
.ldio-92g1bd69czv > div:nth-child(2) {
  border-color: transparent;
}
.ldio-92g1bd69czv > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-92g1bd69czv > div:nth-child(2) div:before,
.ldio-92g1bd69czv > div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #007aff;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #007aff;
}
.ldio-92g1bd69czv > div:nth-child(2) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #007aff;
}
.loadingio-spinner-dual-ring-3e86vgusq7a {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-92g1bd69czv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-92g1bd69czv div {
  box-sizing: content-box;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;

  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  transition-duration: 0.2s;
}

.loader.hide {
  visibility: hidden;
  opacity: 0;

  transition-duration: 0.2s;
}
