@import "@/sass/darkTheme/variables.scss";
@import "@/sass/lightTheme/variables.scss";

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  transition-duration: 0.2s;
}

.loader.hide {
  visibility: hidden;
  opacity: 0;

  transition-duration: 0.2s;
}

.loader-gif {
  width: 80px;
  height: 80px;
  background: url("@/assets/img/loader.gif");
  background-size: contain;
}

.dark-theme .loader-gif {
  width: 80px;
  height: 80px;
  background: url("@/assets/img/loaderDark.gif");
  background-size: contain;
}

.dark-theme .loader {
  background-color: $darkest-gray;
}
