.ant-table {
  font-family: "Montserrat";
}

.medal {
  width: 50px;
  height: 50px;

  &.gold {
    background-image: url("https://www.flaticon.com/free-icon/gold-medal_179249?term=medal&page=1&position=6&origin=search&related_id=179249");
  }

  &.silver {
    background-image: url("https://www.flaticon.com/free-icon/bronze-medal_179250?term=medal&page=1&position=12&origin=search&related_id=179250");
  }

  &.bronze {
    background-image: url("https://www.flaticon.com/free-icon/bronze-medal_179250?term=medal&page=1&position=12&origin=search&related_id=179250");
  }
}

.endStage {
  margin: 10px;
}

.time-matches{
  &__button{
    margin: 10px 0px 10px 0px
  }
}
