.ant-btn {
  &-primary {
    background: $dark-blue;

    &:not(:disabled):not(.ant-btn-disabled):hover {
      background: $light-blue;
    }
  }
}

.ant-float-btn-group,
.ant-float-btn {
  @media (max-width: 767px) {
    bottom: calc(100vh - 60px);
    top: 20px;
  }
}
