.ant-typography {
  color: #121212;
}

.ant-divider {
  margin-top: 0;
  margin-bottom: 24px;
  background: #b8babe;
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography {
  color: #121212;
}
