.search {
  input.ant-input {
    border-right: none;
  }

  button.ant-btn {
    border-left: none;
    pointer-events: none;
  }

  input.ant-input:focus {
    outline: none;
    box-shadow: none;
    border-color: #d9d9d9;
  }

  input.ant-input:hover {
    border-color: #d9d9d9;
  }
}

.dark-theme .search {
  input.ant-input {
    border-right: none;
    border: 1px solid #363636;
  }

  button.ant-btn {
    background: #363636;
    border: none;
    border-left: none;
    pointer-events: none;
  }

  input.ant-input:focus {
    outline: none;
    box-shadow: none;
    border-color: #363636;
  }

  input.ant-input:hover {
    border-color: #363636;
  }
}
