.showTeams {
  align-items: center;
}
.getMatches {
  width: "100%";
}
.matchRow {
  max-width: "100vw";
  overflow-x: "auto";
  overflow-y: "auto";
}
.matchColumn {
  minwidth: "200px";
}
span {
  float: "left";
  alignitems: "center";
}
