.participants {
  &__modal {
    top: 20;

    &__buttons {
      margin-top: 16px;
    }
  }

  &__information {
    &__img {
      width: 20vw;
      margin-right: 24px;
      margin-bottom: 24px;

      @media (max-width: 767px) {
        width: 50vw;
      }
    }

    &__name {
      margin-top: 0;
    }

    &__row {
      margin-bottom: 14px;
    }
  }
}
.participant-add-options__col {
  display: flex;
  justify-content: center;
}
.custom-col {
  min-height: 52px;
}
