.participants {
  &__modal {
    top: 20;

    &__buttons {
      margin-top: 16px;
    }
  }

  &__information {
    &__img {
      width: 20vw;
      margin-right: 24px;
      margin-bottom: 24px;

      @media (max-width: 767px) {
        width: 50vw;
      }
    }

    &__name {
      margin-top: 0;
    }

    &__row {
      margin-bottom: 14px;
    }
  }

  &__existing-image {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 11px;
    padding-bottom: 4px;
  }
}
