.dark-theme .ant-picker-calendar,
.dark-theme .ant-picker-body {
  background-color: #363636;
  border: none;
}

.dark-theme .ant-picker-calendar .ant-picker-cell {
  color: #979797;
}

.dark-theme .ant-picker-calendar .ant-picker-cell-in-view {
  color: #fff;
}

.dark-theme .ant-picker-content th {
  color: #fff;
}

.dark-theme .ant-picker-panel {
  border: none;
}
