.dark-theme .ant-modal-content {
  background: #292929;

  .ant-modal-title {
    background: #292929;
    color: #fff;
  }
}

.dark-theme .ant-space-item {
  color: #fff !important;
}

.dark-theme .ant-modal-confirm-title,
.dark-theme .ant-modal-confirm-content {
  color: #fff !important;
}
