.dark-theme .ant-table-wrapper {
  .ant-table-thead > tr {
    & > th {
      background-color: $dark-blue;
      color: #fff;
      border: none;
    }
  }

  .ant-table-tbody {
    & > tr {
      background: $darkest-gray;
      color: #fff;

      .ant-table-cell-row-hover {
        background: #363636;
      }
    }
  }

  .ant-table-thead {
    tr {
      th {
        &.ant-table-column-sort {
          background-color: $dark-blue;
        }
        &.ant-table-column-has-sorters {
          &:hover {
            background-color: $light-blue;
          }
        }
      }
    }
  }
}

.dark-theme .ant-tabs-tab-btn {
  color: #fff;
}

.dark-theme .ant-table-placeholder .ant-table-cell:hover {
  background: #363636 !important;
}

.dark-theme .ant-table-cell-fix-left,
.dark-theme .ant-table-cell-fix-right {
  background: $darkest-gray;
}
