.dark-theme .ql-editor,
.dark-theme .ql-snow .ql-picker {
  color: #fff;
}

.dark-theme .ql-snow .ql-stroke {
  stroke: #fff;
}

.dark-theme .ql-snow .ql-fill {
  fill: #fff;
}

.dark-theme .ql-snow .ql-picker-options,
.dark-theme .ql-snow .ql-tooltip,
.dark-theme .ql-snow .ql-tooltip.ql-editing input[type="text"] {
  background-color: $dark-gray;
  color: #fff;
  border: none;
}

.dark-theme .ql-toolbar.ql-snow,
.dark-theme .ql-container.ql-snow {
  border: none !important;
}

.dark-theme .ql-container .ql-editor::before {
  color: #fff;
}
