.dark-theme .ant-typography,
.dark-theme .ant-typography h1,
.dark-theme .ant-typography h2,
.dark-theme .ant-typography h3,
.dark-theme .ant-typography h4,
.dark-theme .ant-typography h5,
.dark-theme .ant-typography h6 {
  color: #fff;
}

.dark-theme .ant-typography {
  color: #fff;
}

.dark-theme .ant-checkbox-wrapper {
  color: #fff;
}

.dark-theme .ant-typography-danger {
  color: #ff4d4f !important;
}

.dark-theme .ant-typography-secondary {
  color: #8f8f8f !important;
}
